{# =======================
   Top-level Title
   ======================= #}
{%- set lvl = config.section_level -%}
{{ "#" * lvl }} {{ config.section_title }}

{% macro render_section(section, level) -%}
{%- set header = "#" * level -%}
{{ header }} {{ section.label }}
{%- if section.meta and section.meta.description %}

{{- section.meta.description -}}
{%- endif -%}
{%- if section.meta and section.meta.doc -%}

{{ section.meta.doc }}
{%- endif -%}

{# ---- Fields ---- #}
{% for child in section.children if child.__class__.__name__ == "DocField" %}
- *{{ child.label }}* ({{ child.path }})
  {%- if child.meta.description %}
  - {{ child.meta.description }}
  {%- endif %}
  {%- if child.meta.doc %}
  - {{ child.meta.doc }}
  {%- endif %}
  {%- if child.meta.bounds %}
  - **bounds:** {{ child.meta.bounds }}
  {%- endif %}
  {%- if child.meta.choices %}
  - **choices:** {{ child.meta.choices }}
  {%- endif -%}
{%- endfor -%}

{# ---- Subsections ---- #}
{%- for child in section.children if child.__class__.__name__ == "DocSection" %}

{{ render_section(child, level + 1) }}
{%- endfor %}
{%- endmacro -%}

{{ render_section(options, lvl + 1) }}
